// Inview
.inview {
	transform: translateY(100px) translateZ(0);
	backface-visibility: hidden;
	opacity: 0;
	
	transition-duration: 800ms;
	transition-property: transform, opacity;
	will-change: transform;
	
	&.animate {
		transform: none;
		opacity: 1;
	}
}
