// Colors
$color-primary: dodgerblue;
$color-secondary: hotpink;

$color-heading: #444;
$color-text: #888;

$color-border: #e0e0e0;
$color-light: #f1f1f1;

// Fonts and sizes
$font-heading: Helvetica, Arial, sans-serif;
$font-base: Helvetica, Arial, sans-serif;

$font-size-h1: 50px;
$font-size-h2: 30px;
$font-size-h3: 20px;
$font-size-p: 15px;

// z-index
$z-background: 0;
$z-low: 1;
$z-medium: 2;
$z-high: 3;
$z-overlay: 4;
